<div class="spinner" *ngIf="!skills.length">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
<div class="wrap-skills">
  <br />
  <h2>Habilidades</h2>
  <br />
  <div class="list">
    <div class="wrap-skill-card" *ngFor="let item of skills" (click)="addSkillToList(item)">
      <div class="progress">
        <mat-progress-spinner class="example-margin" [value]="item.value"></mat-progress-spinner>
        <span>{{ item.value }}%</span>
      </div>
      <span>
        <p class="desc">{{item.type}}</p>
        <p class="app-name">{{item.name}}</p>
      </span>
    </div>
    <div class="add-skill" mat-ripple (click)="addSkillToList()" *ngIf="authSvc.loginStatus | async">
      <mat-icon class="mat-18">add</mat-icon>
    </div>
  </div>
</div>
