
<main>
  <header class="desk">
    <div class="hr-contnet">
      <div class="wrap">
        <img height="40%" [src]="argentinaProgramaLogoUrl" alt="" />
        <!-- &nbsp;&nbsp;
        <p class="logo-title">Diego <span>Carbone</span></p> -->
      </div>

      <div class="wrap">
        <div class="nav-region">
          <button
            *ngFor="let item of navItems"
            class="tab-button"
            [routerLink]="item.path"
            routerLinkActive="selected"
          >
            <mat-icon
              class="material-symbols-rounded"
              routerLinkActive="material-symbols-fill"
              >{{ item.icon }}</mat-icon
            >
            {{ item.text }}
          </button>
        </div>
      </div>

      <div class="wrap">
        <div class="tools-region">
          <button
            (click)="changeTheme()"
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
          >
            <mat-icon>{{
              darkMode ? "brightness_4" : "brightness_7"
            }}</mat-icon>
          </button>
          <button *ngIf="authSvc.loginStatus | async" mat-icon-button (click)="openAdmin()">
            <mat-icon>admin_panel_settings</mat-icon>
          </button>
          <button *ngIf="!(authSvc.loginStatus | async)" mat-icon-button (click)="goToAuth()">
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </header>

  <header class="mobile">
    <div class="hr-contnet">
      <div class="wrap">
        <button
          mat-icon-button
          class="menu-btn"
          (click)="changeSidenavStatus()"
        >
          <mat-icon class="mat-18">menu</mat-icon>
        </button>
      </div>

      <div class="wrap-logo">
        <p class="logo-title">Diego <span>Carbone</span></p>
      </div>

      <div class="wrap">
        <button mat-icon-button (click)="changeTheme()">
          <mat-icon class="mat-18">{{
            darkMode ? "brightness_4" : "brightness_7"
          }}</mat-icon>
        </button>
        <button *ngIf="authSvc.loginStatus | async" mat-icon-button (click)="openAdmin()">
          <mat-icon class="mat-18">admin_panel_settings</mat-icon>
        </button>
        <button *ngIf="!(authSvc.loginStatus | async)" mat-icon-button (click)="goToAuth()">
          <mat-icon class="mat-18">person</mat-icon>
        </button>
      </div>
    </div>
  </header>
  <div class="pseudonav"></div>

  <mat-drawer-container class="example-container">
    <mat-drawer mode="over" [opened]="sidenavStatus">
      <div class="sidenav-items">
        <button
          mat-ripple
          class="nav-btn"
          *ngFor="let item of navItems"
          (click)="redirectTo(item.path)"
        >
          <mat-icon
            class="material-symbols-rounded"
            [routerLink]="item.path"
            routerLinkActive="material-symbols-fill"
            >{{ item.icon }}</mat-icon
          >
          <p>{{ item.text }}</p>
        </button>
      </div></mat-drawer
    >
    <mat-drawer-content>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>


  <!-- <aside [class.sidenav-opened]="sidenavStatus">
    <div class="wrap-sidenav">
      <div class="sidenav-header">
        <button
          mat-icon-button
          class="menu-btn"
          (click)="changeSidenavStatus()"
        >
          <mat-icon class="material-symbols-rounded">menu</mat-icon>
        </button>
        <p>MENU</p>
      </div>
    </div>
  </aside> -->
</main>
