<div class="wrap-start-page">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight>
    <mat-tab label="Hero princpial">
      <button
        (click)="saveDataHero()"
        mat-fab
        color="primary"
        class="save-button"
      >
        <mat-icon>save</mat-icon>
      </button>
      <div class="outline"></div>
      <br /><br />
      <div class="input-container">
        <span>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Primer texto</mat-label>
            <input
              matInput
              placeholder="text"
              [(ngModel)]="heroData.firstText"
            />
          </mat-form-field>
        </span>
        <span>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Segundo texto</mat-label>
            <input
              matInput
              placeholder="text"
              [(ngModel)]="heroData.secondText"
            />
          </mat-form-field>
        </span>
        <span>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Primer texto</mat-label>
            <input
              matInput
              placeholder="text"
              [(ngModel)]="heroData.thirdText"
            />
          </mat-form-field>
        </span>
        <span>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Url de imagen</mat-label>
            <input
              matInput
              placeholder="text"
              [(ngModel)]="heroData.imgSrc"
            />
          </mat-form-field>
        </span>
      </div>
      <div class="hero-container">
        <div class="hero">
          <app-hero [heroData]="heroData"></app-hero>
        </div>
      </div>
      <br />
    </mat-tab>
    <mat-tab label="Cards">
      <div class="outline"></div>
      <br /><br />


      <div style="display: flex; gap: 20px;">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Titulo de seccion</mat-label>
          <input
            matInput
            placeholder="text"
            [(ngModel)]="cardTitleSeccion"
          />
        </mat-form-field>
        <button color="primary" mat-icon-button (click)="saveCardTitle()">
            <mat-icon class="mat-18">save</mat-icon>
        </button>
      </div>


      <br />
      <app-card
        (saveNewCard)="saveDataCard($event)"
        [editMode]="true"
        [data]="cardData"
      ></app-card>
    </mat-tab>
  </mat-tab-group>
</div>
