<div class="card-container">
  <div class="card-group">
    <article mat-ripple (click)="editCard(0)">
      <img [src]="currentData[0].picture" [alt]="currentData[0].title" />
      <span>
        <h3>{{ currentData[0].title }}</h3>
        <p>{{ currentData[0].descript }}</p>
        <!-- <button *ngIf="currentData[0].button">
          {{ currentData[0].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
    <article mat-ripple (click)="editCard(1)">
      <img [src]="currentData[1].picture" [alt]="currentData[1].title"/>
      <span>
        <h3>{{ currentData[1].title }}</h3>
        <p>{{ currentData[1].descript }}</p>
        <!-- <button *ngIf="currentData[1].button">
          {{ currentData[1].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
  </div>
  <div class="card-group" >
    <article mat-ripple (click)="editCard(2)">
      <img [src]="currentData[2].picture" [alt]="currentData[2].title"/>
      <span>
        <h3>{{ currentData[2].title }}</h3>
        <p>{{ currentData[2].descript }}</p>
        <!-- <button *ngIf="currentData[2].button">
          {{ currentData[2].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
    <article mat-ripple (click)="editCard(3)">
      <img [src]="currentData[3].picture" [alt]="currentData[3].title"/>
      <span>
        <h3>{{ currentData[3].title }}</h3>
        <p>{{ currentData[3].descript }}</p>
        <!-- <button *ngIf="currentData[3].button">
          {{ currentData[3].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
  </div>
</div>
