<div class="card-container">
  <div class="card-group">
    <article mat-ripple (click)="editCard(0)">
      <img [src]="cards[0]?.picture" [alt]="cards[0]?.title" />
      <span>
        <h3>{{ cards[0]?.title }}</h3>
        <p>{{ cards[0]?.desc }}</p>
        <!-- <button *ngIf="cards[0].button">
          {{ cards[0].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
    <article mat-ripple (click)="editCard(1)">
      <img [src]="cards[1]?.picture" [alt]="cards[1]?.title"/>
      <span>
        <h3>{{ cards[1]?.title }}</h3>
        <p>{{ cards[1]?.desc }}</p>
        <!-- <button *ngIf="cards[1].button">
          {{ cards[1].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
  </div>
  <div class="card-group" >
    <article mat-ripple (click)="editCard(2)">
      <img [src]="cards[2]?.picture" [alt]="cards[2]?.title"/>
      <span>
        <h3>{{ cards[2]?.title }}</h3>
        <p>{{ cards[2]?.desc }}</p>
        <!-- <button *ngIf="cards[2].button">
          {{ cards[2].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
    <article mat-ripple (click)="editCard(3)">
      <img [src]="cards[3]?.picture" [alt]="cards[3]?.title"/>
      <span>
        <h3>{{ cards[3]?.title }}</h3>
        <p>{{ cards[3]?.desc }}</p>
        <!-- <button *ngIf="cards[3].button">
          {{ cards[3].button }}<mat-icon>chevron_right</mat-icon>
        </button> -->
      </span>
    </article>
  </div>
</div>
