<main>
  <mat-toolbar>
    <button
      (click)="sidenavStatus = !sidenavStatus"
      mat-icon-button
      *ngIf="menuButtonVisibility"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      (click)="returnUrl()"
      mat-icon-button
      *ngIf="!menuButtonVisibility"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <p class="logo-title">Carbone <span>Admin</span></p>
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer [mode]="drawerMode" [opened]="sidenavStatus">
      <div class="flex-item-container">
        <mat-list role="list">
          <mat-list-item
            [routerLink]="item.path"
            routerLinkActive="item-selected"
            matRipple
            role="listitem"
            *ngFor="let item of sidenavItems.start"
            (click)="redirectTo(item.parentRouter + item.path)"
          >
            <span>
              <mat-icon
                class="material-symbols-rounded"
                routerLinkActive="material-symbols-fill"
                >{{ item.icon }}</mat-icon
              >
              {{ item.text }}
            </span>
          </mat-list-item>
        </mat-list>

        <mat-list role="list">
          <mat-list-item matRipple role="listitem" (click)="logout()">
            <span>
              <mat-icon
                class="material-symbols-rounded"
                routerLinkActive="material-symbols-fill"
                >logout</mat-icon
              >
              Cerrar sesión
            </span>
          </mat-list-item>
          <mat-list-item
            [routerLink]="item.path"
            routerLinkActive="item-selected"
            matRipple
            role="listitem"
            *ngFor="let item of sidenavItems.end"
            (click)="redirectTo(item.parentRouter + item.path)"
          >
            <span>
              <mat-icon
                class="material-symbols-rounded"
                routerLinkActive="material-symbols-fill"
                >{{ item.icon }}</mat-icon
              >
              {{ item.text }}
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
