:root {
  --color-primary: #FF833C;
  --color-primary-tint-100: #ff833c85;
  --color-primary-tint-200: #ff833c18;

  --color-step-0: #000000;
  --color-step-50: #1e1e1e;
  --color-step-100: #2a2a2a;
  --color-step-150: #363636;
  --color-step-200: #414141;
  --color-step-250: #4d4d4d;
  --color-step-300: #595959;
  --color-step-350: #656565;
  --color-step-400: #717171;
  --color-step-450: #7d7d7d;
  --color-step-500: #898989;
  --color-step-550: #949494;
  --color-step-600: #a0a0a0;
  --color-step-650: #acacac;
  --color-step-700: #b8b8b8;
  --color-step-750: #c4c4c4;
  --color-step-800: #d0d0d0;
  --color-step-850: #dbdbdb;
  --color-step-900: #e7e7e7;
  --color-step-950: #f3f3f3;
  --color-step-1000: #ffffff;
  --mdc-checkbox-selected-checkmark-color: var(--color-step-1000) !important;
  --input-background-default: #80808017;
}

.light {
  --header-surface: #ffffffb8;
  --body-surface: var(--color-step-1000);
  --logotype-font-color: var(--color-step-400);
  --header-border-color: #8080802f;
  --header-hover-tab: var(--color-step-850);
  --sidenav-surface:var(--color-step-950);
  --sidenav-foreground:var(--color-step-300);

  --admin-back:var(--color-step-1000);

  --hero-surface: var(--color-step-950);

  --foreground-color: var(--color-step-50);
  --on-foreground-color: var(--color-step-1000);
  --foreground-color-200: var(--color-step-200);
  --foreground-color-250: var(--color-step-450);

  --input-border-default: var(--color-step-650);

  /* Login */
  --card-login-back:var(--color-step-950);
  --login-blur-background:#ffffff96;
  --login-background:url("../assets/resources/pictures/macOS-Monterey-wallpaper-idownloadblog-mattbirchler-variant-2-blue-green-min.webp");

}
.dark {
  --header-surface: #161616cc;
  --body-surface: var(--color-step-50);
  --logotype-font-color: var(--color-step-1000);
  --header-border-color: #3535352f;
  --hero-surface: var(--color-step-200);
  --header-hover-tab: var(--color-step-250);
  --sidenav-surface:var(--color-step-50);
  --sidenav-foreground:var(--color-step-1000);

  --admin-back:var(--color-step-100);

  --foreground-color: var(--color-step-1000);
  --on-foreground-color: var(--color-step-50);
  --foreground-color-200: var(--color-step-750);
  --foreground-color-250: var(--color-step-700);

  --input-border-default: var(--color-step-650);
  --input-border-default-200: var(--color-step-350);

  /* Login */
  --card-login-back:var(--color-step-50);
  --login-blur-background:#000000b9;
  --login-background:url("../assets/resources/pictures/macOS-Monterey-wallpaper-idownloadblog-mattbirchler-variant-2-blue-green-dark-min.webp");


}
