@import "./css/material-design.scss";
@import url("./global.scss");

html,
body {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--body-surface);
  margin: 0;
  transition: all 0.5s;
  font-family: 'Roboto', sans-serif;
  // font-family: "Product Sans", sans-serif;
}
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled
  ~ .mdc-checkbox__background
  .mdc-checkbox__checkmark {
  color: white !important;
}
