<div class="wrap-hero" *ngIf="dinamicHeroData">
  <picture>
    <source
      *ngFor="let pictures of dinamicHeroData.pictures"
      [srcset]="pictures.srcset"
      [media]="pictures.media"
    />
    <img
      [src]="dinamicHeroData.baseImg"
    />
  </picture>
  <div class="content">
    <span>
      <p>{{ dinamicHeroData.secction }}</p>
      <h1>{{ dinamicHeroData.title }}</h1>
      <p class="descript-text">{{ dinamicHeroData.desc }}</p>
      <br />
      <button
        *ngFor="let button of dinamicHeroData.buttons"
        class="primary"
        mat-ripple
        matRippleColor="#FFFFFF15"
      >
        {{ button.content }}
      </button>
    </span>
  </div>
</div>
