<div class="wrap-hero">
  <picture>
    <source srcset="assets/resources/hero-pictures/ganudesign-banner.png" media="(min-width: 512px)">
    <img src="assets/resources/hero-pictures/ganudesign-banner-mobile.png" alt="">
  </picture>
  <div class="content">
    <span>
      <!-- <p>Apartado de diseños</p> -->
      <h1>Diseño de logos e interfaces</h1>
      <p class="descript-text">En este sector aparecera todo mi conocimiento relacionado con el diseño de logos, interfaces, modelado 3D, etc.</p>
      <br>
      <button class="primary" mat-ripple matRippleColor="#FFFFFF15">Ver mas</button>
    </span>
  </div>
</div>
