<div class="wrap-dashboard">
  <div class="header-list">
    <div class="content">
      <p>Historial de cambios</p>
    </div>
    <button class="win-icon win-icon-Refresh"></button>
  </div>
  <div class="wrap-list">
    <ul>
      <li>
        <p>Cambios en "Sobre mi"</p>
        <p class="time">14:04</p>
      </li>
      <li>
        <p>Cambios en "Sobre mi"</p>
        <p class="time">14:04</p>
      </li>
      <li>
        <p>Cambios en "Sobre mi"</p>
        <p class="time">14:04</p>
      </li>
      <li>
        <p>Cambios en "Sobre mi"</p>
        <p class="time">14:04</p>
      </li>
    </ul>
  </div>
</div>
