p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrap-dashboard{
  animation: startAnimation .3s;
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;

  table{
    background: none;
  }

}
